In [ ]:

import numpy as np 
import pandas as pd 
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0)

In [ ]:
data=pd.read_csv("/kaggle/input/adult-income-dataset/adult.data")
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:

print(data[' State-gov'].unique())

print(data[' Bachelors'].unique())

print(data[' Never-married'].unique())
print(data[' Adm-clerical'].unique())
print(data[' Not-in-family'].unique())
print(data[' White'].unique())
print(data[' Male'].unique())



print(data[' United-States'].unique())
print(data[' <=50K'].unique())

[' Self-emp-not-inc' ' Private' ' State-gov' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
[' Married-civ-spouse' ' Divorced' ' Married-spouse-absent'
 ' Never-married' ' Separated' ' Married-AF-spouse' ' Widowed']
[' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Adm-clerical' ' Sales' ' Craft-repair'
 ' Transport-moving' ' Farming-fishing' ' Machine-op-inspct'
 ' Tech-support' ' ?' ' Protective-serv' ' Armed-Forces'
 ' Priv-house-serv']
[' Husband' ' Not-in-family' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
[' Male' ' Female']
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
[' <=50K' ' >50K']

In [ ]:
data[' State-gov'].replace([' Self-emp-not-inc' ,' Private', ' State-gov', ' Federal-gov', ' Local-gov',
 ' ?', ' Self-emp-inc', ' Without-pay', ' Never-worked'],[0,1,2,3,4,5,6,7,8],inplace=True)

In [ ]:
data[' Bachelors'].replace([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th', ' Some-college',
 ' Assoc-acdm', ' Assoc-voc', ' 7th-8th' ,' Doctorate', ' Prof-school',
 ' 5th-6th', ' 10th', ' 1st-4th', ' Preschool', ' 12th'],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],inplace=True)

In [ ]:
data[' Never-married'].replace([' Married-civ-spouse', ' Divorced', ' Married-spouse-absent',
 ' Never-married' ,' Separated', ' Married-AF-spouse' ,' Widowed'],[0,1,2,3,4,5,6],inplace=True)

In [ ]:

data[' Adm-clerical'].replace([' Exec-managerial', ' Handlers-cleaners' ,' Prof-specialty',
 ' Other-service', ' Adm-clerical', ' Sales', ' Craft-repair',
 ' Transport-moving', ' Farming-fishing' ,' Machine-op-inspct',
 ' Tech-support' ,' ?' ,' Protective-serv', ' Armed-Forces',
 ' Priv-house-serv'],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],inplace=True)

In [ ]:
data[' Not-in-family'].replace([' Husband' ,' Not-in-family', ' Wife', ' Own-child', ' Unmarried',
 ' Other-relative'],[0,1,2,3,4,5],inplace=True)

In [ ]:
data[' White'].replace([' White' ,' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo', ' Other'],[0,1,2,3,4],inplace=True)

In [ ]:
data[' Male'].replace([' Male', ' Female'],[0,1],inplace=True)

In [ ]:
data[' United-States'].replace([' United-States', ' Cuba', ' Jamaica', ' India', ' ?' ,' Mexico', ' South',
 ' Puerto-Rico' ,' Honduras', ' England' ,' Canada' ,' Germany', ' Iran',
 ' Philippines', ' Italy', ' Poland' ,' Columbia', ' Cambodia', ' Thailand',
 ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
 ' El-Salvador', ' France' ,' Guatemala', ' China', ' Japan' ,' Yugoslavia',
 ' Peru', ' Outlying-US(Guam-USVI-etc)' ,' Scotland' ,' Trinadad&Tobago',
 ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland', ' Hungary',
 ' Holand-Netherlands'],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41],inplace=True)

In [ ]:

data[' <=50K'].replace([' <=50K', ' >50K'],[0,1],inplace=True)

In [ ]:
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,0,83311,0,13,0,0,0,0,0,0,0,13,0,0
1,38,1,215646,1,9,1,1,1,0,0,0,0,40,0,0
2,53,1,234721,2,7,0,1,0,1,0,0,0,40,0,0
3,28,1,338409,0,13,0,2,2,1,1,0,0,40,1,0
4,37,1,284582,3,14,0,0,2,0,1,0,0,40,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,1,257302,6,12,0,10,2,0,1,0,0,38,0,0
32556,40,1,154374,1,9,0,9,0,0,0,0,0,40,0,1
32557,58,1,151910,1,9,6,4,4,0,1,0,0,40,0,0
32558,22,1,201490,1,9,3,4,3,0,0,0,0,20,0,0
32559,52,6,287927,1,9,0,0,2,0,1,15024,0,40,0,1

In [ ]:
x =data.drop(' <=50K',axis=1)
y=data[' <=50K']

In [ ]:
clf.fit(x,y)

LogisticRegression(random_state=0)

In [ ]:
clf.score(x,y)

0.7957616707616708